@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="content/css/styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>EMP</title>
</head>
<body>
    <header>
        <img src="https://s3.amazonaws.com/ionic-marketplace/sqlite-crud-offline-mobile-app/banner.png" class="logo logo-screen" alt="EMP. Empoderar, Empreender.">
        <nav>
            <ul>
                <li>
                    <a href="@Url.Action("ListarUsuario","Usuario")">Usuarios</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Cadastro")">Cadastrar</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>

